{% extends 'base.html' %}
{% block content %}
<div class="teachers-section p-6">
    <div class="flex justify-between items-center h-20 py-4">
        <h3 class="text-gray-400 text-xl font-bold my-4">Teachers</h3>
        <div class="hidden lg:flex gap-2">
            
            <button class="h-7 w-7 rounded-full text-base bg-blue-400 text-white
                border border-blue-400 text-center font-normal">
                <i class="fa fa-arrow-down edit-icon"></i>
            </button>
            
        </div>
        
        <div class="flex lg:hidden gap-1 relative">
            <button class="h-7 w-7 rounded-full text-base text-white
                border-0 text-center font-normal cursor-pointer" id="ellipsis-btn">
                <i class="fa-solid fa-ellipsis-vertical gray-icon"></i>
            </button>

            <ul id="ellipsis-menu" class="absolute z-50 right-6 hidden rounded shadow
                px-1 py-3 -mt-6 w-26 shadow-gray-300 fle-col gap-1 transition-all duration-200">
               
                <li class="text-sm text-gray-400 border-0 border-b border-b-gray-200 pb-0.5 mb-1">
                    <button href="">Download</button>
                </li>
                <li class="text-sm text-gray-400 border-0 border-b border-b-gray-200 pb-0.5 mb-1">
                    <button class="w-7 rounded-full text-gray-400 text-sm
                        border-0 text-center font-normal cursor-pointer" id="search-btn">
                        Search
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="search-input w-full hidden lg:hidden mb-3" id="search-input">
        <input 
            type="text" 
            name="search" 
            id="search" 
            placeholder="Search here"
            class="placeholder-gray-300 w-full rounded-md bg-white text-gray-700 border 
            border-gray-200 h-10 p-2 focus:border-gray-400 focus:outline-0"
        >
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-x-2 gap-y-6 ">
        {% for teacher in page_obj %}
            <div class="card flex flex-col gap-2 w-full min-h-32 border border-gray-100 rounded-sm shadow 
                shadow-gray-100 hover:shadow-gray-300 hover:shadow-md transition-all duration-100 group">
                <img class="w-16 h-16 mx-auto rounded-full mt-2" src="{{ teacher.teacher_image.url }}" alt="{teacher.user.last_name}" >
                <div class="details p-2">
                    <h4 class="text-center text-gray-500 text-lg font-medium">{{ teacher.get_title_display }}. {{ teacher.user.first_name }} {{ teacher.user.last_name }}</h4>
                </div>
                <div class="more-details  hidden group-hover:flex flex-col gap-1 bg-gray-500 p-2 
                    items-center justify-center transition duration-75">
                    <p class="deparment text-white text-base">Department: {{teacher.teachers_department.name}}</p>
                    <p class="email text-white text-sm">Email: {{teacher.user.email}}</p>
                </div>
            </div>
            
        {% endfor %}
    </div>
    <div class="pagination w-full my-6 flex justify-center border-gray-50 shadow shadow-gray-200 
        h-20 py-4">
        <span class="step-links flex gap-8 items-center">
            {% if page_obj.has_previous %}
                <div class="first flex gap-2 items-center">
                    <a class="text-sm text-gray-500 hover:text-blue-400" href="?page=1">FIRST</a>
                    <a class="text-sm text-gray-500 hover:text-blue-400" href="?page={{page_obj.previous_page_number}}">PREV</a>
                </div>
                
            {% endif %}
            <span class="current w-8 h-8 rounded-full text-white bg-gray-500 k  text-center flex 
                text-sm  justify-center items-center">
                {{ page_obj.number }}
            </span>
            {% if page_obj.has_next %}
                <div class="first flex gap-2 items-center">
                    <a class="text-sm text-gray-500 hover:text-blue-400" href="?page={{page_obj.next_page_number}}">NEXT</a>
                    <a class="text-sm text-gray-500 hover:text-blue-400" href="?page={{page_obj.paginator.num_pages}}">LAST</a>
                </div>
            {% endif %}
        </span>
    </div>

</div>
    
{% endblock %}